*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx/
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.jar
*.aar
*.jks
*.keystore
keystore.properties
*.pro
*.log

**/build/
**/.gradle/
.idea/
*.iml
*.hprof
*.idea/
module_data.json
app/release/
app/debug/
